@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Mulish", sans-serif;
  min-width: 992px;
}
.header {
  border: 2px solid black;
  background: grey;
}
.header nav {
  padding: 15px;
}
.header nav h2 {
  padding-left: 5px;
}
.main {
  display: flex;
  flex-direction: row;
  width: 100vw;
  margin-top: 50px;
  height: 1000px;
}
.main h1 {
  color: black;
  position: absolute;
  top: 90px;
  left: 610px;
}
.main div {
  background: grey;
  margin: 50px 20px;
  width: 500px;
}
.main p {
  padding: 15px;
}
.main h2 {
  text-align: center;
  color: black;
}
